alabaster==0.7.10
appdirs==1.4.0
arrow==0.12.1
asn1crypto==0.22.0
astroid==1.5.3
attrs==17.4.0
auto-sklearn==0.2.0
Automat==0.6.0
Babel==2.4.0
backports.weakref==1.0rc1
beautifulsoup4==4.4.1
binaryornot==0.4.4
bleach==1.5.0
blinker==1.3
boto==2.48.0
bottle==0.12.13
Brlapi==0.6.4
bz2file==0.98
certifi==2017.11.5
cffi==1.11.0
chardet==3.0.4
checkbox-support==0.22
click==6.7
cloudpickle==0.5.2
command-not-found==0.3
ConfigSpace==0.3.10
constantly==15.1.0
cookiecutter==1.6.0
cryptography==2.0.3
cssselect==1.0.3
cycler==0.10.0
Cython==0.27.1
dask==0.16.0
dask-glm==0.1.0
dask-ml==0.3.2
dask-searchcv==0.2.0
decorator==4.1.2
defer==1.0.6
dill==0.2.7.1
Django==1.11.4
dlib==19.2.99
docutils==0.13.1
entrypoints==0.2.3
fbprophet==0.2
feedparser==5.1.3
findspark==1.1.0
future==0.16.0
gensim==3.1.0
google-api-python-client==1.6.3
googlemaps==2.4.5
guacamole==0.9.2
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
hyperlink==18.0.0
hyperopt==0.1
idna==2.6
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==5.2.2
isort==4.2.15
jedi==0.10.2
Jinja2==2.9.6
jinja2-time==0.2.0
joblib==0.11
jsonfield==2.0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.6
klepto==0.1.4
kmodes==0.7
language-selector==0.1
lazy-object-proxy==1.3.1
liac-arff==2.1.1
lockfile==0.12.2
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.0
mccabe==0.6.1
mistune==0.7.4
multipledispatch==0.4.9
nbconvert==5.2.1
nbformat==4.3.0
networkx==1.11
nltk==3.2.4
nose==1.3.7
notebook==5.2.0
numexpr==2.4.3
numpy==1.13.3
numpydoc==0.7.0
oauth2client==4.1.2
oauthlib==1.0.3
onboard==1.2.0
opencv-python==3.2.0.6
packaging==16.8
padme==1.1.1
pandas==0.21.0
pandocfilters==1.4.1
parsel==1.4.0
patsy==0.4.1
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.0.0
pip-autoremove==0.9.0
pipenv==11.9.0
plainbox==0.25
plotly==1.2.6
pox==0.2.3
poyo==0.4.1
prompt-toolkit==1.0.15
protobuf==3.3.0
psutil==5.2.2
ptyprocess==0.5.2
py4j==0.10.4
pyasn1==0.3.5
pyasn1-modules==0.1.4
pyclust==0.2.0
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
PyDispatcher==2.0.5
pyflakes==1.5.0
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pylint==1.7.2
pymongo==3.5.0
pynisher==0.4.2
pyOpenSSL==17.3.0
pyparsing==2.1.10
pyrfr==0.4.0
pystan==2.17.0.0
pytesseract==0.2.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.6.1
python-debian==0.1.27
python-gflags==3.1.1
python-systemd==231
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
queuelib==1.4.2
reportlab==3.3.0
requests==2.18.4
requests-oauthlib==0.8.0
roman==2.0.0
rope-py3k==0.9.4.post1
rsa==3.4.2
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==1.0.0
Scrapy==1.5.0
seaborn==0.8
selenium==3.11.0
service-identity==17.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smac==0.5.0
smart-open==1.5.3
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.1.9
sphinxcontrib-websupport==1.0.1
spyder==3.1.4
ssh-import-id==5.5
statsmodels==0.8.0
stevedore==1.20.0
system-service==0.3
tables==3.2.2
tensorflow==1.2.1
tensorflow-gpu==1.2.1
terminado==0.6
tesseract==0.1.3
testpath==0.3.1
Theano==0.10.0.dev1
toolz==0.8.2
torch==0.3.1
torchvision==0.2.0
toree==0.1.0
tornado==4.5.1
traitlets==4.3.2
treelib==1.4.0
tweepy==3.5.0
Twisted==17.9.0
typing==3.6.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
uritemplate==3.0.0
urllib3==1.22
usb-creator==0.3.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
whichcraft==0.4.1
whitenoise==3.3.1
widgetsnbextension==1.2.6
wrapt==1.10.10
xdiagnose==3.8.4.1
xgboost==0.6
xkit==0.0.0
xlrd==1.1.0
XlsxWriter==0.7.3
zope.interface==4.4.3
